<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maroun Baydoun">
    <title><%= htmlWebpackPlugin.options.title %> | Maroun Baydoun</title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description%>">
    <link rel="canonical" href="https://dev.maroun-baydoun.com/<%= htmlWebpackPlugin.options.subPath %>" />
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description%>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dev.maroun-baydoun.com/<%= htmlWebpackPlugin.options.subPath %>" />
    <meta property="og:image" content="https://dev.maroun-baydoun.com/<%= htmlWebpackPlugin.options.subPath %>image.png" />
    <meta property="og:image:alt" content="<%= htmlWebpackPlugin.options.heading1%>. <%= htmlWebpackPlugin.options.heading2%>" />
    <meta property="og:locale" content="en">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@maroun_baydoun">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description%>">
    <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
</head>

<body>
    <header class="header">
        <h1><%= htmlWebpackPlugin.options.heading1 %></h1>
        <h2><%= htmlWebpackPlugin.options.heading2 %></h2>
        <nav>
            <%if (htmlWebpackPlugin.options.githubLink) { %>
                <a 
                    href="<%= htmlWebpackPlugin.options.githubLink %>" 
                    rel="external"
                    title="View the source code on Github">
                    Github
                </a>
            <% } %>
            <%if (htmlWebpackPlugin.options.npmLink) { %>
                <a 
                    href="<%= htmlWebpackPlugin.options.npmLink %>" 
                    rel="external"
                    title="Get the package on npm">
                    NPM
                </a>
            <% } %>
        </nav>
    </header>
    <main class="content">
        <h3 id="install-npm">Install npm package</h3>
        <pre class="syntax-highlight-container"><code class="language-shell">npm i tiny-flex</code></pre>
        Or
        <pre class="syntax-highlight-container"><code class="language-shell">yarn add tiny-flex</code></pre>
        <p>Import the components:</p>
        <pre class="syntax-highlight-container"><code class="language-js">// Import all the components
import "tiny-flex";

// Import the container component only
import "tiny-flex/components/container";</code></pre>

        <p>The code shipped in the package is ES2015. If you are targeting unsupported browsers, make sure you transpile it in your project.</p>
    
        <hr class="hr--large"/>

        <h3 id="install-cdn">Include from CDN</h3>
        <pre class="syntax-highlight-container"><code class="language-html">&lt;!-- Import all components --&gt;
&lt;script
    type=&quot;module&quot;
    src=&quot;//unpkg.com/tiny-flex@insert-version-here/components/index.js&quot;
&gt;&lt;/script&gt;

&lt;!-- Import the container component only --&gt;
&lt;script
    type=&quot;module&quot;
    src=&quot;//unpkg.com/tiny-flex@insert-version-here/components/container.js&quot;
&gt;&lt;/script&gt;</code></pre>

        <hr class="hr--large"/>

        <h3 id="use">Use</h3>
        

        <pre class="syntax-highlight-container"><code class="language-html">&lt;flex-container&gt;
    &lt;flex-item&gt;Hello&lt;/flex-item&gt;
    &lt;flex-item&gt;world&lt;/flex-item&gt;
&lt;/flex-container&gt;</code></pre>

<hr class="hr--medium"/>
<span class="monospace">flex-container</span> accepts the following optional attributes:

<ul class="ul ul--margin-top ul--margin-left ul--square">
    <li>direction</li>
    <li>align-items</li>
    <li>justify-content</li>
    <li>align-content</li>
    <li>wrap</li>
    <li>flow</li>
    <li>gap</li>
    <li>row-gap</li>
    <li>column-gap</li>
</ul>

<hr class="hr--medium"/>

<span class="monospace">flex-item</span> accepts the following optional attributes:

<ul class="ul ul--margin-top ul--margin-left ul--square">
    <li>flex</li>
    <li>grow</li>
    <li>shrink</li>
    <li>basis</li>
    <li>order</li>
    <li>align-self</li>
</ul>

    
        <hr class="hr--large"/>


        <h3 id="demo">Demo</h3>
        <flex-container direction="column" class="demo-container">
            <flex-item flex="1" class="demo-cell">
                <flex-container direction="column">
                    <h4>Defaults</h4>
                    <flex-container class="demo-cell--content">
                        <flex-item class="demo-box">tiny</flex-item>
                        <flex-item class="demo-box">flex</flex-item>
                        <flex-item class="demo-box">web</flex-item>
                        <flex-item class="demo-box">components</flex-item>
                    </flex-container>
                    <details>
                        <summary>View code</summary>
                        <pre class="syntax-highlight-container"><code class="language-html">&lt;flex-container&gt;
    &lt;flex-item&gt;tiny&lt;/flex-item&gt;
    &lt;flex-item&gt;flex&lt;/flex-item&gt;
    &lt;flex-item&gt;web&lt;/flex-item&gt;
    &lt;flex-item&gt;components&lt;/flex-item&gt;
&lt;/flex-container&gt;</code></pre>
                    </details>
                </flex-container>
            </flex-item>

            <flex-item flex="1" class="demo-cell">
                <flex-container direction="column">
                    <h4>Column</h4>
                    <flex-container class="demo-cell--content demo-cell--content__column" direction="column">
                        <flex-item class="demo-box">tiny</flex-item>
                        <flex-item class="demo-box">flex</flex-item>
                        <flex-item class="demo-box">web</flex-item>
                        <flex-item class="demo-box">components</flex-item>
                    </flex-container>
                    <details>
                        <summary>View code</summary>
                        <pre class="syntax-highlight-container"><code class="language-html">&lt;flex-container direction="column"&gt;
    &lt;flex-item&gt;tiny&lt;/flex-item&gt;
    &lt;flex-item&gt;flex&lt;/flex-item&gt;
    &lt;flex-item&gt;web&lt;/flex-item&gt;
    &lt;flex-item&gt;components&lt;/flex-item&gt;
&lt;/flex-container&gt;</code></pre>
                    </details>
                </flex-container>
            </flex-item>

            <flex-item flex="1" class="demo-cell">
                <flex-container direction="column">
                    <h4>Reverse column</h4>
                    <flex-container class="demo-cell--content demo-cell--content__column" direction="column-reverse">
                        <flex-item class="demo-box">tiny</flex-item>
                        <flex-item class="demo-box">flex</flex-item>
                        <flex-item class="demo-box">web</flex-item>
                        <flex-item class="demo-box">components</flex-item>
                    </flex-container>
                    <details>
                        <summary>View code</summary>
                        <pre class="syntax-highlight-container"><code class="language-html">&lt;flex-container direction="column-reverse"&gt;
    &lt;flex-item&gt;tiny&lt;/flex-item&gt;
    &lt;flex-item&gt;flex&lt;/flex-item&gt;
    &lt;flex-item&gt;web&lt;/flex-item&gt;
    &lt;flex-item&gt;components&lt;/flex-item&gt;
&lt;/flex-container&gt;</code></pre>
                    </details>
                </flex-container>
            </flex-item>

            <flex-item flex="1" class="demo-cell">
                <flex-container direction="column">
                    <h4>Content justified to flex-end</h4>
                    <flex-container class="demo-cell--content" justify-content="flex-end">
                        <flex-item class="demo-box">tiny</flex-item>
                        <flex-item class="demo-box">flex</flex-item>
                        <flex-item class="demo-box">web</flex-item>
                        <flex-item class="demo-box">components</flex-item>
                    </flex-container>
                    <details>
                        <summary>View code</summary>
                        <pre class="syntax-highlight-container"><code class="language-html">&lt;flex-container justify-content="flex-end"&gt;
    &lt;flex-item&gt;tiny&lt;/flex-item&gt;
    &lt;flex-item&gt;flex&lt;/flex-item&gt;
    &lt;flex-item&gt;web&lt;/flex-item&gt;
    &lt;flex-item&gt;components&lt;/flex-item&gt;
&lt;/flex-container&gt;</code></pre>
                    </details>
                </flex-container>
            </flex-item>

            <flex-item flex="1" class="demo-cell">
                <flex-container direction="column">
                    <h4>Items aligned to the center</h4>
                    <flex-container class="demo-cell--content demo-cell--content__column" direction="column" align-items="center">
                        <flex-item class="demo-box">tiny</flex-item>
                        <flex-item class="demo-box">flex</flex-item>
                        <flex-item class="demo-box">web</flex-item>
                        <flex-item class="demo-box">components</flex-item>
                    </flex-container>
                    <details>
                        <summary>View code</summary>
                        <pre class="syntax-highlight-container"><code class="language-html">&lt;flex-container direction="column" align-items="center"&gt;
    &lt;flex-item&gt;tiny&lt;/flex-item&gt;
    &lt;flex-item&gt;flex&lt;/flex-item&gt;
    &lt;flex-item&gt;web&lt;/flex-item&gt;
    &lt;flex-item&gt;components&lt;/flex-item&gt;
&lt;/flex-container&gt;</code></pre>
                    </details>
                </flex-container>
            </flex-item>

            <flex-item flex="1" class="demo-cell">
                <flex-container direction="column">
                    <h4>Item with flex 1</h4>
                    <flex-container class="demo-cell--content">
                        <flex-item class="demo-box">tiny</flex-item>
                        <flex-item class="demo-box" flex="1">flex</flex-item>
                        <flex-item class="demo-box">web</flex-item>
                        <flex-item class="demo-box">components</flex-item>
                    </flex-container>
                    <details>
                        <summary>View code</summary>
                        <pre class="syntax-highlight-container"><code class="language-html">&lt;flex-container direction="column"&gt;
    &lt;flex-item&gt;tiny&lt;/flex-item&gt;
    &lt;flex-item flex="1"&gt;flex&lt;/flex-item&gt;
    &lt;flex-item&gt;web&lt;/flex-item&gt;
    &lt;flex-item&gt;components&lt;/flex-item&gt;
&lt;/flex-container&gt;</code></pre>
                    </details>
                </flex-container>
            </flex-item>

            <flex-item flex="1" class="demo-cell">
                <flex-container direction="column">
                    <h4>Item self aligned to flex-end</h4>
                    <flex-container class="demo-cell--content demo-cell--content__column" direction="column" align-items="center">
                        <flex-item class="demo-box">tiny</flex-item>
                        <flex-item class="demo-box" align-self="flex-end">flex</flex-item>
                        <flex-item class="demo-box">web</flex-item>
                        <flex-item class="demo-box">components</flex-item>
                    </flex-container>
                    <details>
                        <summary>View code</summary>
                        <pre class="syntax-highlight-container"><code class="language-html">&lt;flex-container direction="column" align-items="center"&gt;
    &lt;flex-item&gt;tiny&lt;/flex-item&gt;
    &lt;flex-item align-self="flex-end"&gt;flex&lt;/flex-item&gt;
    &lt;flex-item&gt;web&lt;/flex-item&gt;
    &lt;flex-item&gt;components&lt;/flex-item&gt;
&lt;/flex-container&gt;</code></pre>
                    </details>
                </flex-container>
            </flex-item>

            <flex-item flex="1" class="demo-cell">
                <flex-container direction="column">
                    <h4>Items with different orders</h4>
                    <flex-container class="demo-cell--content">
                        <flex-item class="demo-box" order="2">tiny</flex-item>
                        <flex-item class="demo-box" order="1">flex</flex-item>
                        <flex-item class="demo-box" order="4">web</flex-item>
                        <flex-item class="demo-box" order="3">components</flex-item>
                    </flex-container>
                    <details>
                        <summary>View code</summary>
                        <pre class="syntax-highlight-container"><code class="language-html">&lt;flex-container&gt;
    &lt;flex-item order="2"&gt;tiny&lt;/flex-item&gt;
    &lt;flex-item order="1"&gt;flex&lt;/flex-item&gt;
    &lt;flex-item order="4"&gt;web&lt;/flex-item&gt;
    &lt;flex-item order="3"&gt;components&lt;/flex-item&gt;
&lt;/flex-container&gt;</code></pre>
                    </details>
                </flex-container>
            </flex-item>
        </flex-container>

    
        <hr class="hr--large"/>


        <h3>Learn more</h3>
        <section>
            <ul class="ul ul--square ul--margin-left">
                <li>
                    <a href="https://flexboxfroggy.com/" rel="external noopener" target="_blank">Flexbox Froggy</a> is a fun game to learn Flexbox.
                </li>
                <li>
                    Try <a href="https://dev.maroun-baydoun.com/reaflex/">reaflex</a>, a flexbox library for React.
                </li>
            </ul>
        </section>
        <%if (htmlWebpackPlugin.options.linkHome) { %>
            <hr class="hr--large"/>
            <div class="link-home">
                See <a href="https://dev.maroun-baydoun.com" rel="home">other projects</a>
            </div>
        <% } %>
    </main>
    <footer class="footer">
        <div class="footer__links">
            <a 
                href="https://twitter.com/maroun_baydoun" 
                rel="external noopener noreferrer" 
                target="_blank">
                Twitter
            </a>
            <a 
                href="https://github.com/maroun-baydoun" 
                rel="external noopener noreferrer" 
                target="_blank">
                Github
            </a>
            <a 
                href="https://www.linkedin.com/in/marounbaydoun" 
                rel="external noopener noreferrer" 
                target="_blank">
                Linkedin
            </a>
        </div>
        <div class="footer__credits">
            &copy;<a href="https://maroun-baydoun.com" rel="author">Maroun Baydoun</a>
        </div>
    </footer>
    <%if (process.env.NODE_ENV==="production" ) { %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62589493-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-62589493-1', { 'anonymize_ip': true });
        </script>
    <% } %>
</body>

</html>